@implements ITaggable

<div class="@BuildClasses()">
    <CascadingValue Value="Context">
        @ChildContent
    </CascadingValue>
</div>

@code {
    /// <summary>
    /// Gets or sets the minimum screen size at which the content becomes visible.
    /// </summary>
    [Parameter]
    public ScreenSize? FromSize { get; set; }

    /// <summary>
    /// Gets or sets the screen size at which the content becomes hidden again.
    /// </summary>
    [Parameter]
    public ScreenSize? ToSize { get; set; }

    /// <summary>
    /// Gets or sets the content rendered within the breakpoint container.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Gets or sets a value indicating whether the content is disabled.
    /// </summary>
    [Parameter]
    public bool IsDisabled { get; set; }

    /// <summary>
    /// Gets or sets user data associated with the component.
    /// </summary>
    [Parameter]
    public object? Tag { get; set; }

    [CascadingParameter]
    private UIContext ParentContext { get; set; } = new();

    private UIContext Context => ParentContext with { IsDisabled = ParentContext.IsDisabled || IsDisabled };

    private string BuildClasses()
    {
        var classes = new List<string> { "relative" };

        if (FromSize is null)
        {
            classes.Add("block");

            if (ToSize is not null)
            {
                classes.Add(ToSize switch
                {
                    ScreenSize.Small => "sm:hidden",
                    ScreenSize.Medium => "md:hidden",
                    ScreenSize.Large => "lg:hidden",
                    ScreenSize.ExtraLarge => "xl:hidden",
                    ScreenSize.ExtraExtraLarge => "2xl:hidden",
                    _ => ""
                });
            }
        }
        else
        {
            classes.Add("hidden");
            classes.Add(FromSize switch
            {
                ScreenSize.Small => "sm:block",
                ScreenSize.Medium => "md:block",
                ScreenSize.Large => "lg:block",
                ScreenSize.ExtraLarge => "xl:block",
                ScreenSize.ExtraExtraLarge => "2xl:block",
                _ => string.Empty
            });

            if (ToSize is not null)
            {
                classes.Add(ToSize switch
                {
                    ScreenSize.Small => "sm:hidden",
                    ScreenSize.Medium => "md:hidden",
                    ScreenSize.Large => "lg:hidden",
                    ScreenSize.ExtraLarge => "xl:hidden",
                    ScreenSize.ExtraExtraLarge => "2xl:hidden",
                    _ => string.Empty
                });
            }
        }

        return string.Join(" ", classes.Where(c => !string.IsNullOrWhiteSpace(c)));
    }
}
