@implements ITaggable

<CascadingValue Value="ChildContext">
    <DPOverlay IsVisible="@IsOpen" IsDisabled="@IsDisabled">
        <div class="dp-dialog">
            @ChildContent
        </div>
    </DPOverlay>
</CascadingValue>

@code {
    /// <summary>
    /// Gets or sets the dialog content.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Gets or sets a value indicating whether the dialog is open.
    /// </summary>
    [Parameter]
    public bool IsOpen { get; set; }

    /// <summary>
    /// Gets or sets a value indicating whether the dialog is disabled.
    /// </summary>
    [Parameter]
    public bool IsDisabled { get; set; }

    /// <summary>
    /// Gets or sets user data associated with the component.
    /// </summary>
    [Parameter]
    public object? Tag { get; set; }

    [CascadingParameter]
    private UIContext ParentContext { get; set; } = new();

    private UIContext Context => ParentContext with { IsDisabled = ParentContext.IsDisabled || IsDisabled };

    private UIContext ChildContext => Context with { IsDisabled = Context.IsDisabled || !IsOpen };
}
