@implements ITaggable

@if (IsLoading)
{
<div class="relative inline-block cursor-wait select-none">
    <img src="/_content/ChatAIze.DopamineUI/img/loading.gif" height="@ActualSize" width="@ActualSize" class="inline-block dark:hidden" />
    <img src="/_content/ChatAIze.DopamineUI/img/loading-dark.gif" height="@ActualSize" width="@ActualSize" class="hidden dark:inline-block" />
</div>
}

@code {
    /// <summary>
    /// Gets or sets the size of the loading indicator.
    /// </summary>
    [Parameter]
    public LoadingIndicatorSize Size { get; set; }

    /// <summary>
    /// Gets or sets a value indicating whether the indicator is visible.
    /// </summary>
    [Parameter]
    public bool IsLoading { get; set; } = true;

    /// <summary>
    /// Gets or sets user data associated with the component.
    /// </summary>
    [Parameter]
    public object? Tag { get; set; }

    private int ActualSize
    {
        get
        {
            return Size switch
            {
                LoadingIndicatorSize.Small => 24,
                LoadingIndicatorSize.Medium => 32,
                LoadingIndicatorSize.Large => 48,
                _ => 24
            };
        }
    }
}
