@implements ITaggable

<button class="@ItemClass" disabled="@Context.IsDisabled" ontouchstart="" @onclick="OnClickAsync">
    <CascadingValue Value="Context">@ChildContent</CascadingValue>
</button>

@code {
    /// <summary>
    /// Gets or sets the content displayed for the menu item.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Gets or sets a value indicating whether the menu item is disabled.
    /// </summary>
    [Parameter]
    public bool IsDisabled { get; set; }

    /// <summary>
    /// Gets or sets the callback invoked when the item is clicked.
    /// </summary>
    [Parameter]
    public EventCallback Clicked { get; set; }

    /// <summary>
    /// Gets or sets user data associated with the component.
    /// </summary>
    [Parameter]
    public object? Tag { get; set; }

    [CascadingParameter]
    private UIContext ParentContext { get; set; } = new();

    private UIContext Context => ParentContext with { IsDisabled = ParentContext.Menu?.IsOpen == false || ParentContext.IsDisabled || IsDisabled };

    private string ItemClass => Context.IsDisabled ? "dp-menu-item-disabled" : "dp-menu-item";

    private async Task OnClickAsync()
    {
        if (!Context.IsDisabled)
        {
            if (Context.Menu != null)
            {
                await Context.Menu.CloseAsync();
            }

            if (Clicked.HasDelegate)
            {
                await Clicked.InvokeAsync();
            }
        }
    }
}
