@implements ITaggable

<p class="@TextClass">
    <CascadingValue Value="Context">@ChildContent</CascadingValue>
</p>

@code {
    /// <summary>
    /// Gets or sets the paragraph content.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Gets or sets a value indicating whether the paragraph is disabled.
    /// </summary>
    [Parameter]
    public bool IsDisabled { get; set; }

    /// <summary>
    /// Gets or sets user data associated with the component.
    /// </summary>
    [Parameter]
    public object? Tag { get; set; }

    [CascadingParameter]
    private UIContext ParentContext { get; set; } = new();

    private UIContext Context => ParentContext with { IsDisabled = ParentContext.IsDisabled || IsDisabled };

    private string TextClass => Context.IsDisabled ? "dp-paragraph-disabled" : "dp-paragraph";
}
