@page "/"

<PageTitle>Dopamine UI Preview</PageTitle>

<div class="m-4">
    <div class="flex space-x-4">
        <DPButton Text="Button" />
        <DPButton Text="Disabled" IsDisabled="true" />
        <DPButton Text="Loading" IsLoading="true" />
        <DPButton Text="Accent" Style="ButtonStyle.Accent" />
        <DPButton Text="Destructive" Style="ButtonStyle.Destructive" />
    </div>
</div>
