@page "/"
@rendermode InteractiveServer

<PageTitle>Dopamine UI Preview</PageTitle>

<div class="m-4 space-y-4">
    <h1 class="header">Buttons</h1>
    <div class="flex space-x-4">
        <DPButton Text="Button" />
        <DPButton Text="Disabled" IsDisabled="true" />
        <DPButton Text="Loading" IsLoading="true" />
        <DPButton Text="Accent" Style="ButtonStyle.Accent" />
        <DPButton Text="Destructive" Style="ButtonStyle.Destructive" />
    </div>
    <h1 class="header">Full-Width Buttons</h1>
    <div class="flex space-x-4">
        <DPButton Text="Full Width" IsFullWidth="true" />
        <DPButton Text="Full Width 2" IsFullWidth="true" />
    </div>
    <h1 class="header">Text Fields</h1>
    <div class="flex space-x-4">
        <DPTextField @bind-Value="Text" />
        <DPTextField Label="Labelled" @bind-Value="Text" />
        <DPTextField Label="Loading" IsLoading="true" @bind-Value="Text" />
        <DPTextField Label="Disabled" IsDisabled="true" @bind-Value="Text" />
    </div>
    <h1 class="header">Full-Width Text Fields</h1>
    <div class="flex space-x-4">
        <DPTextField Label="Full Width" IsFullWidth="true" @bind-Value="Text" />
        <DPTextField Label="Full Width 2" IsFullWidth="true" IsLoading="true" @bind-Value="Text" />
    </div>
    <h1 class="header">Text Editors</h1>
    <div class="flex space-x-4">
        <DPTextArea Label="Text Editor" @bind-Value="Text" />
        <DPTextArea Label="Loading" IsLoading="true" @bind-Value="Text" />
        <DPTextArea Label="Disabled" IsDisabled="true" @bind-Value="Text" />
    </div>
    <h1 class="header">Full-Width Text Editors</h1>
    <div class="flex space-x-4">
        <DPTextArea Label="Full Width" IsFullWidth="true" @bind-Value="Text" />
        <DPTextArea Label="Full Width 2" IsFullWidth="true" IsLoading="true" @bind-Value="Text" />
    </div>
    <h1 class="header">Toggle Switches</h1>
    <div class="flex space-x-4">
        <DPToggleSwitch Label="Toggle Switch" @bind-value="BoolValue" />
        <DPToggleSwitch Label="Disabled" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h1 class="header">Full-Width Toggle Switches</h1>
    <div class="flex space-x-4">
        <DPToggleSwitch Label="Toggle Switch" IsFullWidth="true" @bind-value="BoolValue" />
        <DPToggleSwitch Label="Disabled" IsFullWidth="true" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h1 class="header">Breakpoints</h1>
    <div class="flex space-x-4">
        <DPBreakpoint>All Sizes</DPBreakpoint>
        <DPBreakpoint ToSize="ScreenSize.ExtraSmall">0-XS</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.ExtraSmall" ToSize="ScreenSize.ExtraSmall">XS</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.ExtraSmall" ToSize="ScreenSize.Small">XS-S</DPBreakpoint>
        <DPBreakpoint ToSize="ScreenSize.Small">0-S</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Small" ToSize="ScreenSize.Small">S</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Small" ToSize="ScreenSize.Medium">S-M</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Medium" ToSize="ScreenSize.Large">M-L</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Large" ToSize="ScreenSize.Large">L</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Large">L-inf</DPBreakpoint>
    </div>
</div>

@code {
    private string Text { get; set; } = "Hello, world!";

    private bool BoolValue { get; set; } = true;
}
