@page "/"
@rendermode InteractiveServer

<PageTitle>Dopamine UI Preview</PageTitle>

<div class="m-8 space-y-4">
    <h1 class="header">Buttons</h1>
    <h2 class="subheader">Standard</h2>
    <div class="flex space-x-4">
        <DPButton Text="Button" />
        <DPButton Text="Disabled" IsDisabled="true" />
        <DPButton Text="Loading" IsLoading="true" />
        <DPButton Text="Accent" Style="ButtonStyle.Accent" />
        <DPButton Text="Destructive" Style="ButtonStyle.Destructive" />
    </div>
    <h2 class="subheader">Full Width</h2>
    <div class="flex space-x-4">
        <DPButton Text="Button" IsFullWidth="true" />
        <DPButton Text="Button" IsFullWidth="true" />
    </div>

    <br />
    <DPDivider />
    <br />

    <h1 class="header">Text Fields</h1>
    <h2 class="subheader">Labelless</h2>
    <DPTextField @bind-Value="Text" />
    <h2 class="subheader">Standard</h2>
    <div class="flex space-x-4">
        <DPTextField Label="Normal" @bind-Value="Text" />
        <DPTextField Label="Password" Type="TextFieldType.Password" @bind-Value="Text" />
        <DPTextField Label="Loading" IsLoading="true" @bind-Value="Text" />
        <DPTextField Label="Disabled" IsDisabled="true" @bind-Value="Text" />
    </div>
    <h2 class="subheader">Full Width</h2>
    <div class="flex space-x-4">
        <DPTextField Label="Normal" IsFullWidth="true" @bind-Value="Text" />
        <DPTextField Label="Loading" IsFullWidth="true" IsLoading="true" @bind-Value="Text" />
        <DPTextField Label="Disabled" IsFullWidth="true" IsDisabled="true" @bind-Value="Text" />
    </div>

    <br />
    <DPDivider />
    <br />

    <h1 class="header">Text Areas</h1>
    <h2 class="subheader">Standard</h2>
    <div class="flex space-x-4">
        <DPTextArea Label="Normal" @bind-Value="Text" />
        <DPTextArea Label="Loading" IsLoading="true" @bind-Value="Text" />
        <DPTextArea Label="Disabled" IsDisabled="true" @bind-Value="Text" />
    </div>
    <h2 class="subheader">Full Width</h2>
    <div class="flex space-x-4">
        <DPTextArea Label="Normal" IsFullWidth="true" @bind-Value="Text" />
        <DPTextArea Label="Loading" IsFullWidth="true" IsLoading="true" @bind-Value="Text" />
        <DPTextArea Label="Disabled" IsFullWidth="true" IsDisabled="true" @bind-Value="Text" />
    </div>

    <br />
    <DPDivider />
    <br />

    <h1 class="header">Toggle Switches</h1>
    <h2 class="subheader">Labelless</h2>
    <div class="flex">
        <DPToggleSwitch @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Automatic</h2>
    <div class="flex space-x-4">
        <DPToggleSwitch Label="Normal" @bind-value="BoolValue" />
        <DPToggleSwitch Label="Disabled" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Frameless</h2>
    <div class="flex space-x-4">
        <DPToggleSwitch Label="Normal" IsFrameVisible="false" @bind-value="BoolValue" />
        <DPToggleSwitch Label="Disabled" IsFrameVisible="false" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Framed</h2>
    <div class="flex space-x-4">
        <DPToggleSwitch Label="Normal" IsFrameVisible="true" @bind-value="BoolValue" />
        <DPToggleSwitch Label="Disabled" IsFrameVisible="true" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Full Width</h2>
    <div class="flex space-x-4">
        <DPToggleSwitch Label="Normal" IsFullWidth="true" IsFrameVisible="true" @bind-value="BoolValue" />
        <DPToggleSwitch Label="Disabled" IsFullWidth="true" IsFrameVisible="true" IsDisabled="true" @bind-value="BoolValue" />
    </div>

    <br />
    <DPDivider />
    <br />

    <h1 class="header">Checkboxes</h1>
    <h2 class="subheader">Labelless</h2>
    <div class="flex">
        <DPCheckBox @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Automatic</h2>
    <div class="flex space-x-4">
        <DPCheckBox Label="Normal" @bind-value="BoolValue" />
        <DPCheckBox Label="Disabled" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Frameless</h2>
    <div class="flex space-x-4">
        <DPCheckBox Label="Normal" IsFrameVisible="false" @bind-value="BoolValue" />
        <DPCheckBox Label="Disabled" IsFrameVisible="false" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Framed</h2>
    <div class="flex space-x-4">
        <DPCheckBox Label="Normal" IsFrameVisible="true" @bind-value="BoolValue" />
        <DPCheckBox Label="Disabled" IsFrameVisible="true" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Full Width</h2>
    <div class="flex space-x-4">
        <DPCheckBox Label="Normal" IsFullWidth="true" IsFrameVisible="true" @bind-value="BoolValue" />
        <DPCheckBox Label="Disabled" IsFullWidth="true" IsFrameVisible="true" IsDisabled="true" @bind-value="BoolValue" />
    </div>

    <br />
    <DPDivider />
    <br />

    <h1 class="header">Radio Buttons</h1>
    <h2 class="subheader">Labelless</h2>
    <div class="flex">
        <DPRadioButton @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Automatic</h2>
    <div class="flex space-x-4">
        <DPRadioButton Label="Normal" @bind-value="BoolValue" />
        <DPRadioButton Label="Disabled" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Frameless</h2>
    <div class="flex space-x-4">
        <DPRadioButton Label="Normal" IsFrameVisible="false" @bind-value="BoolValue" />
        <DPRadioButton Label="Disabled" IsFrameVisible="false" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Framed</h2>
    <div class="flex space-x-4">
        <DPRadioButton Label="Normal" IsFrameVisible="true" @bind-value="BoolValue" />
        <DPRadioButton Label="Disabled" IsFrameVisible="true" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Full Width</h2>
    <div class="flex space-x-4">
        <DPRadioButton Label="Normal" IsFullWidth="true" IsFrameVisible="true" @bind-value="BoolValue" />
        <DPRadioButton Label="Disabled" IsFullWidth="true" IsFrameVisible="true" IsDisabled="true" @bind-value="BoolValue" />
    </div>

    <h1 class="header">Breakpoints</h1>
    <div class="flex space-x-4">
        <DPBreakpoint>All Sizes</DPBreakpoint>
        <DPBreakpoint ToSize="ScreenSize.ExtraSmall">0-XS</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.ExtraSmall" ToSize="ScreenSize.ExtraSmall">XS</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.ExtraSmall" ToSize="ScreenSize.Small">XS-S</DPBreakpoint>
        <DPBreakpoint ToSize="ScreenSize.Small">0-S</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Small" ToSize="ScreenSize.Small">S</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Small" ToSize="ScreenSize.Medium">S-M</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Medium" ToSize="ScreenSize.Large">M-L</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Large" ToSize="ScreenSize.Large">L</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Large">L-inf</DPBreakpoint>
    </div>
</div>

@code {
    private string Text { get; set; } = "Hello, world!";

    private bool BoolValue { get; set; } = true;
}
