<button class="@ActualStyle" disabled="@IsDisabled" @onclick="OnClickAsync">
    @if (IsLoading)
    {
        <span class="opacity-0">@Text</span>
        <img src="/_content/ChatAIze.DopamineUI/img/loading.gif" height="24" width="24" class="absolute" />
    }
    else
    {
        @Text
    }
</button>

@code {
    [Parameter]
    public string? Text { get; set; } = "Button";

    [Parameter]
    public ButtonStyle Style { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public EventCallback Clicked { get; set; }

    private string ActualStyle
    {
        get
        {
            if (IsLoading)
            {
                return "button-loading";
            }

            if (IsDisabled)
            {
                return "button-loading";
            }

            return Style switch
            {
                ButtonStyle.Accent => "button-accent",
                ButtonStyle.Destructive => "button-destructive",
                _ => "button-default"
            };
        }
    }

    private async Task OnClickAsync()
    {
        if (!IsLoading && !IsDisabled && Clicked.HasDelegate)
        {
            await Clicked.InvokeAsync();
        }
    }
}
