<button class="@ActualStyle" disabled="@IsDisabled" @onclick="OnClickAsync">
    @if (IsLoading)
    {
        <span class="opacity-0">@Text</span>
        <img src="/_content/ChatAIze.DopamineUI/img/loading.gif" height="24" width="24" class="absolute" />
    }
    else
    {
        @Text
    }
</button>

@code {
    [Parameter]
    public string? Text { get; set; } = "Button";

    [Parameter]
    public ButtonStyle Style { get; set; }

    [Parameter]
    public bool IsFullWidth { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public EventCallback Clicked { get; set; }

    private string ActualStyle
    {
        get
        {
            string style;

            if (IsLoading)
            {
                style = "button-loading";
            }
            else if (IsDisabled)
            {
                style = "button-loading";
            }
            else
            {
                style = Style switch
                {
                    ButtonStyle.Accent => "button-accent",
                    ButtonStyle.Destructive => "button-destructive",
                    _ => "button-default"
                };
            }

            if (IsFullWidth)
            {
                style += " w-full";
            }

            return style;
        }
    }

    private async Task OnClickAsync()
    {
        if (!IsLoading && !IsDisabled && Clicked.HasDelegate)
        {
            await Clicked.InvokeAsync();
        }
    }
}
