@typeparam T

<button class="@ItemClass" @onclick="OnClickAsync">@ChildContent</button>

@code {
    [CascadingParameter]
    public DPDropDown<T>? DropDown { get; set; }

    [Parameter]
    public T? Value { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public object? Tag { get; set; }

    private string ItemClass => Value != null && DropDown != null && Value.Equals(DropDown.Value) ? "dp-dropdown-item-selected" : "dp-dropdown-item";

    protected override void OnInitialized()
    {
        if (DropDown != null)
        {
            DropDown.Items.Add(this);

            if (Value != null && Value.Equals(DropDown.Value))
            {
                DropDown.TriggerStateHasChanged();
            }
        }
    }

    private async Task OnClickAsync()
    {
        if (DropDown != null && !DropDown.IsLoading && !DropDown.IsDisabled)
        {
            await DropDown.UpdateValueAsync(Value);
        }
    }
}
