@implements ITaggable

<h1 class="@TextClass">
    <CascadingValue Value="Context">@ChildContent</CascadingValue>
</h1>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public object? Tag { get; set; }

    [CascadingParameter]
    private UIContext ParentContext { get; set; } = new();

    private UIContext Context => ParentContext with { IsDisabled = ParentContext.IsDisabled || IsDisabled };

    private string TextClass => Context.IsDisabled ? "dp-header-disabled" : "dp-header";
}
